.Timer {
  border: 2px solid black;
  padding: 10px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.Timer label {
  font-weight: bold;
}

.Buttons {
  display: flex;
  justify-content: center;
}

.Timer button {
  margin: 0 5px;
  border-radius: 5px;
}
